@model IEnumerable<ACS.Core.Models.Claims.SerializableClaim>

@{
    ViewBag.Title = "Manage Account";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
        </div>
    </section>
}

<h3>Your user has the following claims:</h3>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </tbody>
</table>